EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
EXPO_PUBLIC_CUSTOMER_APP_URL=https://qrmenu-customer.asrorkhanodilov.workers.dev
EXPO_PUBLIC_CONTACT_PHONE=+998901234567
EXPO_PUBLIC_CONTACT_EMAIL=hello@qrmenu.app
EXPO_PUBLIC_CONTACT_WHATSAPP=998901234567
EXPO_PUBLIC_CONTACT_TELEGRAM=qrmenu
EXPO_PUBLIC_MARKETING_URL=https://qrmenu.asrorkhanodilov.workers.dev
